<%- include('partials/head.ejs') %>

    <nav>
        <a href="/" class="active">Overview</a>
        <a href="/types">Types of AI</a>
        <a href="/algorithms">Algorithms</a>
        <a href="/ethics">Ethics</a>
        <a href="/research">AI Research</a>
        <a href="/quote">Random</a>
    </nav>

    <hr>

    <br><br>

    <main>
        <article>
            <figure class="AI-ML">
                <img src="img/AI-ML.png" alt="Picture of a robot">
            </figure>

            <div>
                <section>
                    <h2>What is Artificial Intelligence?</h2>
                    <p class="what-is-AI">Artificial Intelligence (AI) involves making computers and robots that not
                        only replicate human behaviors but also surpass them in certain capabilities.
                        AI-powered applications can process and interpret data to deliver insights or initiate
                        activities autonomously, without human input.</p>
                    <p class="what-is-AI">In the modern era, AI forms a core component of numerous technologies we
                        regularly interact with, like smart gadgets and voice assistants, including Apple's Siri.
                        Businesses are using methods like natural language processing and computer vision, which
                        allow computers to understand human speech and analyze visual content.
                        These technologies are revolutionizing task automation, speeding up decision-making processes,
                        and facilitating direct interactions between customers and automated chat systems.</p>
                </section>
                <section>
                    <h2>What is Machine Learning?</h2>
                    <p class="what-is-AI">Machine learning serves as a crucial step towards artificial intelligence,
                        utilizing algorithms to autonomously derive insights and detect patterns in data,
                        enhancing decision-making capabilities over time. Programmers delve into machine
                        learning to expand the boundaries of computer systems in terms of perception, cognition, and
                        action.
                        An advanced subset of machine learning, deep learning, employs extensive neural networks that
                        mimic the human brain's logical data analysis to master intricate patterns and perform
                        predictions without human involvement.</p>
                </section>
                <section>
                    <h2>How AI and ML are used in various fields.</h2>
                    <p class="what-is-AI">To excel in any field, organizations need to convert their data into
                        actionable insights. By integrating Artificial Intelligence and machine learning into their
                        operations and strategic initiatives,
                        businesses can automate numerous manual processes related to data and decision-making, enabling
                        leaders to interpret and respond to data-driven insights with enhanced speed and efficiency.</p>
                </section>
                <section>
                    <h3>Manufacturing Industry</h3>
                    <ul class="what-is-AI">
                        <li><span class="ethics">Predicting Equipment Failures:</span> Leveraging the Internet of Things
                            (IoT), analytics, and machine learning to predict equipment errors before they lead to
                            malfunctions.</li>
                        <li><span class="ethics">AI-Driven Maintenance Optimization:</span> Implementing an AI system
                            within a factory to monitor production machines, enabling timely maintenance predictions to
                            prevent mid-shift breakdowns.</li>
                        <li><span class="ethics">Optimizing HVAC Efficiency:</span> Utilizing machine learning to
                            analyze and optimize energy consumption patterns in HVAC systems, achieving ideal energy
                            savings and comfort levels.</li>
                    </ul>
                </section>
                <section>
                    <h3>Finance Industry</h3>
                    <ul class="what-is-AI">
                        <li><span class="ethics">Enhancing Security with Machine Learning:</span> Employing machine
                            learning techniques to bolster defenses against fraud and cybersecurity threats.</li>
                        <li><span class="ethics">Authenticating with Biometrics and Computer Vision:</span> Using
                            biometrics combined with computer vision to rapidly verify user identities and streamline
                            document processing.</li>
                        <li><span class="ethics">Leveraging Smart Technologies in Customer Service:</span> Deploying
                            chatbots and voice assistants to enhance customer service operations through automation.
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Health Care Industry</h3>
                    <ul class="what-is-AI">
                        <li><span class="ethics">Machine Learning in Clinical Decision Making:</span> Utilizing machine
                            learning to analyze electronic health records for clinical decision support and generating
                            automated insights.</li>
                        <li><span class="ethics">AI-Driven Hospital Visit Outcomes:</span> Deploying AI systems to
                            forecast the results of hospital stays, aiming to reduce readmissions and minimize patient
                            hospitalization durations.</li>
                        <li><span class="ethics">Documenting Medical Interactions with AI:</span> Employing natural
                            language understanding to document interactions between healthcare providers and patients
                            during physical exams or telehealth sessions.</li>
                    </ul>
                </section>
            </div>

            <figure class="AI-ML">
                <img src="img/advantages-2.jpg" alt="Image of AI in different sectors">
            </figure>
            <br><br>

        </article>

        <h2 class="references-title">References</h2>
        <ul class="references">
            <li><a href="https://ai.engineering.columbia.edu/ai-vs-machine-learning/" target="_blank">Artificial
                    Intelligence (AI) vs. Machine Learning | Columbia AI</a></li>
        </ul>
        <br><br>
        <%- include('partials/footer.ejs') %>
    </main>

</body>

</html>