<%- include('partials/head.ejs') %>

    <nav>
        <a href="/">Overview</a>
        <a href="/types" class="active">Types of AI</a>
        <a href="/algorithms">Algorithms</a>
        <a href="/ethics">Ethics</a>
        <a href="/research">AI Research</a>
        <a href="/quote">Random</a>
    </nav>

    <hr>

    <br><br>

    <main>
        <article>
            <h1>Exploring Various Forms of Artificial Intelligence</h1>
            <figure class="AI-ML">
                <img src="img/types.jpg" alt="Picture of types of AI">
            </figure>

            <p class="what-is-AI">Early AI applications like the initial version of Apple's Siri, launched in 2011, were
                based on traditional machine learning models that required continual human input to learn and adapt.
                However, since the development of artificial neural networks in 2012, AI has advanced significantly,
                adopting deep learning models that mimic human brain functions.
                These models enable AI to independently learn new tasks and make decisions, fueling innovations in task
                automation, content generation, and predictive maintenance across various sectors.
                Today, understanding AI involves differentiating between broad categories such as AI capabilities and
                functionalities, reflecting a rapidly evolving field where definitions and applications are continually
                shifting.
            </p>

            <h2>Three Types of AI Categorized by Capabilities</h2>

            <div>
                    <h3 class="what-is-AI">1. Artificial Narrow AI</h3>
                    <p class="what-is-AI">Artificial Narrow Intelligence (ANI), commonly termed as Weak AI or simply Narrow AI, represents
                        the only form of artificial intelligence that currently exists. All other AI types are still
                        hypothetical.
                        Narrow AI is designed to excel at specific, singular tasks—often outperforming human
                        capabilities in speed and efficiency within that narrow scope. However, it lacks the ability to
                        operate beyond its pre-defined functions.
                        Focused on enhancing specific cognitive skills, examples of Narrow AI include Siri, Amazon
                        Alexa, and IBM Watson®. OpenAI ChatGPT is also classified under this category due to its
                        specialization in text-based interaction.</p>
                    <h3 class="what-is-AI">2. General AI</h3>
                    <p class="what-is-AI">Artificial General Intelligence (AGI), often referred to as Strong AI, remains theoretical
                        in today's technological field. AGI would have the capability to apply knowledge and skills
                        acquired from past experiences
                        to new and varied tasks without requiring human intervention in training its models. This type
                        of intelligence is envisioned to handle any intellectual activity that a human could, adapting
                        its functions across different contexts.</p>
                    <h3 class="what-is-AI">3. Super AI</h3>
                    <p class="what-is-AI">Super AI, also known as artificial superintelligence, currently exists only as a hypothetical
                        concept, much like AGI. Should it ever be achieved, Super AI would exhibit thinking, reasoning,
                        learning, and judgment skills that exceed
                        human capabilities. Systems equipped with Super AI would not only understand human emotions and
                        experiences but could potentially experience their own emotions, needs, beliefs, and desires.
                    </p>
            </div>
            <br><br>

        </article>

        <h2 class="references-title">References</h2>
        <ul class="references">
            <li><a href="https://www.ibm.com/think/topics/artificial-intelligence-types" target="_blank">Types of
                    Artificial Intelligence | IBM</a></li>
            <li><a href="https://www.researchgate.net/publication/355021812_Types_of_AI_Different_Types_of_Artificial_Intelligence_Systems_fossgurucomtypes-of-ai-different-types-of-artificial-intelligence-systems"
                    target="_blank">Types of
                    AI | Different Types of Artificial Intelligence Systems</a></li>
        </ul>
        <br><br>
        <%- include('partials/footer.ejs') %>
    </main>

</body>

</html>